$primary-color:#5fbf44;
$text-color:#606060;
$bg-color:#dedfd8;
$card-color:#ecebe5;
$logo-color:#fff;
$btn-color:#f9f9f9;
$font-weights:(
    "lightest":100,
    "regular":400,
    "medium":500,
    "bold":700
);
$font_path: '~@/assets/fonts/';
