@import "./variables";
@import "./functions";
@import "./resets";
@font-face {
    font-family: 'archia';
    src: url($font_path+'archia-regular-webfont.eot');
    src: url($font_path+'archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url($font_path+'archia-regular-webfont.woff2') format('woff2'),
         url($font_path+'archia-regular-webfont.woff') format('woff'),
         url($font_path+'archia-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url($font_path+'icomoon.eot?91676d');
    src:  url($font_path+'icomoon.eot?91676d#iefix') format('embedded-opentype'),
        url($font_path+'icomoon.ttf?91676d') format('truetype'),
        url($font_path+'icomoon.woff?91676d') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="van-icon-my-icon-"], [class*=" van-icon-my-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.van-icon-my-icon-star_gray:before {
    content: "\e900";
    color: #c4c3c0;
} 
.van-icon-my-icon-star_full:before {
    content: "\e900";
    color: #5eb548;
}
.van-icon-my-icon-star_none:before {
    content: "\e901";
    color: #5fbf44;
}  